<div class="card comment">
    <h4 class="card-header">Comments:</h4>
    <div class="content">
        {{comment_text}}
    </div>
    <div>
        {{user.username}}, {{format_date created_at}}
    </div>
</div>