<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Just Tech News</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
         <a href="/">Tech Blog</a> {{!-- might rename it and make it a blog about something else... --}}
      </h1>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Powered by The Cheat
    </footer>
  </div>
{{!-- insert javascript tags here <script src="/javascript/"></script> --}}
</body>

</html>