<button href="/signup" type="submit">Sign Up</button>

<div class="card">
  <div class="card-header">
    <h3>Log In</h3>
    <form class="login-form">
      <div>
        <label for="username-login">Username:</label>
        <input type="text" id="username-login" />
      </div>
      <div>
        <label for="password-login">Password:</label>
        <input type="password" id="password-login" />
      </div>
      <div>
        <button type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/login.js"></script>
