<div class="card">
  <div class="card-header">
    <h3>Sign Up</h3>
    <form class="signup-form">
      <div>
        <label for="username-sign-up">Username:</label>
        <input type="text" id="username-signup" />
      </div>
      <div>
        <label for="password-sign-up">Password:</label>
        <input type="password" id="password-signup" />
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>

<script src="/javascript/sign-up.js"></script>