<h3 class="header">{{post.title}}</h3>

{{> post-info post}}

{{> comments post.comments}}

<form class="card-body comment-form" id="comment-form">

    <label class="form-label">Leave a Comment</label>
    <input id="comment" name="comment-text" class="form-input" />

    <button type="submit" class="btn">Submit</button>
</form>